Hi {{ to_name }}
We received a request to reset your password at {{ host_name }}.

To reset your password, browse to {{ app.request.getSchemeAndHttpHost() ~ link }}

If you ignore this message your password will not be changed.</p>
